.main-container {
  display: grid;
  grid-template: auto / auto auto;
  gap: 20px;
  padding: 30px;
  justify-content: center;
}

li {
  list-style: none;
}

button {
  border-style: none;
  height: 30px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .main-container {
    grid-template: auto auto / 100vw;
  }
}
