/* left-half of page */
.left-container {
  background-color: rgb(10, 12, 106);
  height: 100%;
  width: 50vw;
  display: flex;
  justify-content: flex-end;
}

.edit-section {
  width: max(50%, 350px);
  overflow-y: scroll;
  height: 100vh;
  padding: 20px;
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
}

.edit-section::-webkit-scrollbar {
  width: 0.5em;
}

.edit-section::-webkit-scrollbar-thumb {
  background-color: rgb(232, 232, 232);
  border-radius: 10px;
}

.card {
  width: 90%;
  background-color: rgb(195, 195, 247);
  box-shadow: 0px 0px 5px 2px rgb(161, 161, 161);
  padding: 10px;
  border-radius: 10px;
}

/* Card titles */
.card > h1 {
  font-size: 3rem;
  color: blue;
}

/* .card > ul > li {
  display: flex;
  flex-direction: column;
  width: clamp(150px, 30%, 400px);
  background-color: red;
} */
