/* right-half of page */
.right-container {
  background-color: rgb(44, 44, 44);
  height: 100%;
  width: 50vw;
  display: flex;
  justify-content: flex-start;
  overflow-y: scroll;
}

.edit-section {
  width: max(50%, 350px);
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edit-section::-webkit-scrollbar {
  width: 0.5em;
}

.edit-section::-webkit-scrollbar-thumb {
  background-color: rgb(232, 232, 232);
  border-radius: 10px;
}

.card {
  width: 90%;
  background-color: rgb(196, 196, 196);
  box-shadow: 0px 0px 15px 2px rgb(56, 56, 56);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
}

/* Card titles */
.card > h1 {
  font-size: 3rem;
  color: rgb(0, 0, 0);
}

.form-buttons-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

/* save button */
.form-buttons-cont button:first-child {
  background-color: rgb(11, 173, 11);
  color: white;
}
/* cancel button */
.form-buttons-cont button:nth-child(2) {
  background-color: transparent;
  border: solid 1px rgb(124, 124, 124);
  color: rgb(100, 100, 100);
}
/* delete button */
.form-buttons-cont button:nth-child(3) {
  background-color: transparent;
  border: solid 1px rgb(124, 124, 124);
  color: rgb(101, 101, 101);
}

/* list of submitted items */
.submitted-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* buttons for each submitted item */
.submitted-list button {
  width: 100%;
  background-color: rgb(196, 196, 196);
  border-top: solid 3px rgb(44, 44, 44);
  border-radius: 0px;
  color: black;
}

.submitted-list li:last-child {
  border-bottom: solid 3px rgb(44, 44, 44);
}

/* button for adding new item */
.add-new-btn {
  width: 150px;
  align-self: center;
  display: flex;
  align-items: center;
  background-color: rgb(71, 71, 217);
  color: white;
}
