.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-field input {
  height: 25px;
  border-radius: 5px;
  border-style: none;
  background-color: rgb(228, 227, 227);
  margin-top: 5px;
}

.input-field textarea {
  height: 70px;
}
