#work-form {
  border-radius: 15px;
  display: grid;
  grid-template-areas:
    "name name"
    "city role"
    "workStart workEnd"
    "desc desc"
    "btn btn";
  row-gap: 10px;
  column-gap: 20px;
}

#work-form .input-field:first-child {
  grid-area: name;
}
#work-form .input-field:nth-child(2) {
  grid-area: city;
}
#work-form .input-field:nth-child(3) {
  grid-area: role;
}
#work-form .input-field:nth-child(4) {
  grid-area: workStart;
}
#work-form .input-field:nth-child(5) {
  grid-area: workEnd;
}
#work-form div:nth-child(6) {
  grid-area: desc;
}
#work-form .form-buttons-cont {
  grid-area: btn;
}

#work-form textarea {
  border-radius: 10px;
  border-style: none;
  resize: none;
  background-color: rgb(228, 227, 227);
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  #work-form {
    grid-template-areas:
      "name"
      "city"
      "role"
      "workStart"
      "workEnd"
      "desc"
      "btn";
  }
}
