.left-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.preview-section {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.721);
  font-size: 1rem;
  height: 916px;
  width: 650px;
}

/* title of each preview section */
.preview-title {
  font-size: 2rem;
}

/* title for Education and Work Experience */
.preview-work .preview-title,
.preview-education .preview-title {
  border-bottom: solid 1px black;
}

.preview-card {
  padding: 10px 50px 0px 50px;
}

@media screen and (max-width: 900px) {
  .preview-section {
    height: 112.8vw;
    width: 80vw;
  }
}
